<!doctype html>
<html>
<head>
  <title>Game</title>
</head>
<body>
    <form action="/madlib">
    <br>
    Pick a person!
    Name: <input type="text" name="person">
    <br>
    Pick a color!
    <input type = "radio" name = "color" value = "pink">Pink
    <input type = "radio" name = "color" value = "blue">Blue
    <input type = "radio" name = "color" value = "red">Red
    <input type = "radio" name = "color" value = "yellow">Yellow
    <br>
    Pick a noun!
    <input type="checkbox" name="noun" value="dog">Dog 
    <input type="checkbox" name="noun" value="cat">Cat
    <input type="checkbox" name="noun" value="bird">Bird
    <br>
    Pick an adjective!
    <select name="adjective">
        <option value="awesome">Awesome</option>
        <option value="cool">Cool</option>
        <option value="beautiful">Beautiful</option>
    </select>
    <br>
    <input type = "submit" value="Submit">

</form>
</body>
</html>